<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="well">
        <div class="starter-template">
          <h1>Contact</h1>
          <p class="lead">The best ways to reach me:</p>
          <ul>
            <li>GitHub: <a href="https://github.com/leonj1">github.com/leonj1</a></li>
            <li>Email: <a href="mailto:leonj1@gmail.com">leonj1@gmail.com</a></li>
            <li>Resume: <a href="/resume/">/resume/</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.container -->
