<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="homepage-main-banner">
      <div class="container">
        <div class="col-md-6">
          <h1>Jose Leon here...</h1>
          <p>When I am not reading or studying technology related articles or books, I am attending to my beautiful 3 children.</p>
          <p>I am a technology evangelist, coder, and hard worker.</p>
          <p>I love design patterns, best practices, food and keeping things light and fun as much as possible.</p>
          <p>This is clearly my starter page and will be making it more awesome over time; once the 3 kids give me time.</p>
          <div>
              <img src="http://ghchart.rshah.org/leonj1" alt="leonj1's commits Github " />
          </div>
          <div>
            <!-- Prepare a container for your calendar. -->
            <div class="calendar">
              <!-- Loading stuff -->
              Loading the data just for you.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="img/joseleon.png" class="element hidden-xs visible-sm visible-md visible-lg">
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Technology</h2>
          <p>This section is going to showcase anything in technology that I love, such as code, books, design patterns, and Internet of Things.</p>
        </div>
        <div class="col-md-4">
          <h2>Books</h2>
          <p>Since I am a firm believer that no one should ever stop learning, this section will hold a list of books and articles that I recommend.</p>
        </div>
        <div class="col-md-4">
          <h2>Awesome Documentaries</h2>
          <p>There are some other human beings that are awesome and this is my way to pay tribute to their awesome efforts.</p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Jose Leon 2016</p>
      </footer>
    </div> <!-- /container -->

