.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.899902;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.924316;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:0.000000px;}
.ls9{letter-spacing:0.149568px;}
.ls0{letter-spacing:0.159360px;}
.lsa{letter-spacing:0.169248px;}
.ls2{letter-spacing:0.191232px;}
.ls3{letter-spacing:0.196416px;}
.lsf{letter-spacing:0.212544px;}
.ls12{letter-spacing:0.228288px;}
.ls10{letter-spacing:0.291264px;}
.ls6{letter-spacing:0.318816px;}
.ls4{letter-spacing:0.362112px;}
.lsc{letter-spacing:0.385728px;}
.ls5{letter-spacing:0.425088px;}
.ls11{letter-spacing:0.427680px;}
.ls7{letter-spacing:0.468384px;}
.lsd{letter-spacing:0.488064px;}
.lse{letter-spacing:0.492000px;}
.lsb{letter-spacing:0.551040px;}
.ls8{letter-spacing:0.617952px;}
.ls13{letter-spacing:0.708480px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.056168px;}
._2{width:1.170416px;}
._5{width:13.323576px;}
._4{width:21.482904px;}
._3{width:25.682320px;}
._1{width:32.881560px;}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:31.680000px;}
.fs4{font-size:35.520000px;}
.fs2{font-size:39.360000px;}
.fs5{font-size:43.200000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:79.680000px;}
.y39{bottom:-2.422650px;}
.y2e{bottom:2.400000px;}
.y36{bottom:3.120000px;}
.y35{bottom:3.360000px;}
.y2b{bottom:3.840000px;}
.y29{bottom:10.537350px;}
.y38{bottom:11.017350px;}
.y2d{bottom:15.360000px;}
.y33{bottom:15.600000px;}
.y28{bottom:24.697350px;}
.y27{bottom:38.617350px;}
.y1{bottom:40.507080px;}
.y26{bottom:52.537350px;}
.y25{bottom:66.697320px;}
.y24{bottom:80.617320px;}
.y23{bottom:94.537320px;}
.y22{bottom:108.697320px;}
.y21{bottom:122.617320px;}
.y20{bottom:136.537320px;}
.y1f{bottom:150.697320px;}
.y1e{bottom:164.617320px;}
.y1d{bottom:178.537320px;}
.y1c{bottom:192.697320px;}
.y1b{bottom:206.617320px;}
.y5c{bottom:209.257320px;}
.y1a{bottom:220.537320px;}
.y5b{bottom:223.177320px;}
.y19{bottom:234.697320px;}
.y5a{bottom:237.097320px;}
.y18{bottom:248.617320px;}
.y59{bottom:251.257320px;}
.y17{bottom:262.537320px;}
.y58{bottom:265.177320px;}
.y16{bottom:276.697320px;}
.y57{bottom:279.097320px;}
.y15{bottom:290.617320px;}
.y56{bottom:292.777320px;}
.y55{bottom:304.297320px;}
.y14{bottom:304.537320px;}
.y54{bottom:315.817320px;}
.y13{bottom:318.697320px;}
.y53{bottom:327.337320px;}
.y12{bottom:332.617320px;}
.y52{bottom:338.857320px;}
.y11{bottom:346.537320px;}
.y51{bottom:350.617320px;}
.y10{bottom:360.697320px;}
.y50{bottom:364.777320px;}
.yf{bottom:374.617320px;}
.y4f{bottom:378.697320px;}
.ye{bottom:388.537320px;}
.y4e{bottom:392.617320px;}
.yd{bottom:402.697320px;}
.y4d{bottom:406.777320px;}
.yc{bottom:416.617320px;}
.y4c{bottom:420.697320px;}
.yb{bottom:430.537320px;}
.y4b{bottom:434.617320px;}
.ya{bottom:444.697320px;}
.y4a{bottom:448.777320px;}
.y9{bottom:458.617320px;}
.y49{bottom:462.697320px;}
.y8{bottom:472.537320px;}
.y48{bottom:476.617320px;}
.y7{bottom:486.697320px;}
.y47{bottom:490.297320px;}
.y6{bottom:500.617320px;}
.y46{bottom:501.817320px;}
.y45{bottom:513.577320px;}
.y5{bottom:519.577320px;}
.y44{bottom:527.737320px;}
.y43{bottom:541.657320px;}
.y42{bottom:555.577320px;}
.y41{bottom:569.737320px;}
.y32{bottom:571.124400px;}
.y40{bottom:583.657320px;}
.y31{bottom:597.284400px;}
.y3f{bottom:597.577320px;}
.y30{bottom:611.684400px;}
.y3e{bottom:611.737320px;}
.y3d{bottom:625.657320px;}
.y2f{bottom:626.084400px;}
.y3c{bottom:639.577320px;}
.y2c{bottom:652.004400px;}
.y3b{bottom:653.737320px;}
.y3a{bottom:667.657320px;}
.y4{bottom:670.297320px;}
.y2a{bottom:677.924400px;}
.y3{bottom:680.137320px;}
.y37{bottom:691.417320px;}
.y2{bottom:696.457320px;}
.y0{bottom:709.000000px;}
.y34{bottom:742.964400px;}
.h1{height:9.500000px;}
.he{height:12.479980px;}
.h9{height:14.399960px;}
.hc{height:14.400020px;}
.h4{height:22.336875px;}
.ha{height:25.044375px;}
.hb{height:25.919980px;}
.hd{height:26.159970px;}
.h5{height:27.751875px;}
.h7{height:28.655156px;}
.h8{height:28.693594px;}
.hf{height:28.792969px;}
.h6{height:31.992188px;}
.h10{height:34.992188px;}
.h3{height:58.087031px;}
.h2{height:743.017300px;}
.h0{height:792.000000px;}
.w6{width:38.880000px;}
.w5{width:126.240000px;}
.w1{width:144.000000px;}
.w3{width:149.280000px;}
.w4{width:409.680000px;}
.w2{width:594.028400px;}
.w0{width:612.000000px;}
.xa{left:5.280110px;}
.x1{left:8.985800px;}
.x4{left:28.080080px;}
.x5{left:35.280030px;}
.x9{left:37.065800px;}
.xc{left:38.985800px;}
.x6{left:49.679930px;}
.x8{left:62.280030px;}
.x7{left:64.080070px;}
.xd{left:165.225800px;}
.xb{left:186.345800px;}
.x2{left:223.666000px;}
.x3{left:228.466800px;}
.x0{left:237.500000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:0.000000pt;}
.ls9{letter-spacing:0.199424pt;}
.ls0{letter-spacing:0.212480pt;}
.lsa{letter-spacing:0.225664pt;}
.ls2{letter-spacing:0.254976pt;}
.ls3{letter-spacing:0.261888pt;}
.lsf{letter-spacing:0.283392pt;}
.ls12{letter-spacing:0.304384pt;}
.ls10{letter-spacing:0.388352pt;}
.ls6{letter-spacing:0.425088pt;}
.ls4{letter-spacing:0.482816pt;}
.lsc{letter-spacing:0.514304pt;}
.ls5{letter-spacing:0.566784pt;}
.ls11{letter-spacing:0.570240pt;}
.ls7{letter-spacing:0.624512pt;}
.lsd{letter-spacing:0.650752pt;}
.lse{letter-spacing:0.656000pt;}
.lsb{letter-spacing:0.734720pt;}
.ls8{letter-spacing:0.823936pt;}
.ls13{letter-spacing:0.944640pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.408224pt;}
._2{width:1.560555pt;}
._5{width:17.764768pt;}
._4{width:28.643872pt;}
._3{width:34.243093pt;}
._1{width:43.842080pt;}
.fs1{font-size:42.240000pt;}
.fs4{font-size:47.360000pt;}
.fs2{font-size:52.480000pt;}
.fs5{font-size:57.600000pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:106.240000pt;}
.y39{bottom:-3.230200pt;}
.y2e{bottom:3.200000pt;}
.y36{bottom:4.160000pt;}
.y35{bottom:4.480000pt;}
.y2b{bottom:5.120000pt;}
.y29{bottom:14.049800pt;}
.y38{bottom:14.689800pt;}
.y2d{bottom:20.480000pt;}
.y33{bottom:20.800000pt;}
.y28{bottom:32.929800pt;}
.y27{bottom:51.489800pt;}
.y1{bottom:54.009440pt;}
.y26{bottom:70.049800pt;}
.y25{bottom:88.929760pt;}
.y24{bottom:107.489760pt;}
.y23{bottom:126.049760pt;}
.y22{bottom:144.929760pt;}
.y21{bottom:163.489760pt;}
.y20{bottom:182.049760pt;}
.y1f{bottom:200.929760pt;}
.y1e{bottom:219.489760pt;}
.y1d{bottom:238.049760pt;}
.y1c{bottom:256.929760pt;}
.y1b{bottom:275.489760pt;}
.y5c{bottom:279.009760pt;}
.y1a{bottom:294.049760pt;}
.y5b{bottom:297.569760pt;}
.y19{bottom:312.929760pt;}
.y5a{bottom:316.129760pt;}
.y18{bottom:331.489760pt;}
.y59{bottom:335.009760pt;}
.y17{bottom:350.049760pt;}
.y58{bottom:353.569760pt;}
.y16{bottom:368.929760pt;}
.y57{bottom:372.129760pt;}
.y15{bottom:387.489760pt;}
.y56{bottom:390.369760pt;}
.y55{bottom:405.729760pt;}
.y14{bottom:406.049760pt;}
.y54{bottom:421.089760pt;}
.y13{bottom:424.929760pt;}
.y53{bottom:436.449760pt;}
.y12{bottom:443.489760pt;}
.y52{bottom:451.809760pt;}
.y11{bottom:462.049760pt;}
.y51{bottom:467.489760pt;}
.y10{bottom:480.929760pt;}
.y50{bottom:486.369760pt;}
.yf{bottom:499.489760pt;}
.y4f{bottom:504.929760pt;}
.ye{bottom:518.049760pt;}
.y4e{bottom:523.489760pt;}
.yd{bottom:536.929760pt;}
.y4d{bottom:542.369760pt;}
.yc{bottom:555.489760pt;}
.y4c{bottom:560.929760pt;}
.yb{bottom:574.049760pt;}
.y4b{bottom:579.489760pt;}
.ya{bottom:592.929760pt;}
.y4a{bottom:598.369760pt;}
.y9{bottom:611.489760pt;}
.y49{bottom:616.929760pt;}
.y8{bottom:630.049760pt;}
.y48{bottom:635.489760pt;}
.y7{bottom:648.929760pt;}
.y47{bottom:653.729760pt;}
.y6{bottom:667.489760pt;}
.y46{bottom:669.089760pt;}
.y45{bottom:684.769760pt;}
.y5{bottom:692.769760pt;}
.y44{bottom:703.649760pt;}
.y43{bottom:722.209760pt;}
.y42{bottom:740.769760pt;}
.y41{bottom:759.649760pt;}
.y32{bottom:761.499200pt;}
.y40{bottom:778.209760pt;}
.y31{bottom:796.379200pt;}
.y3f{bottom:796.769760pt;}
.y30{bottom:815.579200pt;}
.y3e{bottom:815.649760pt;}
.y3d{bottom:834.209760pt;}
.y2f{bottom:834.779200pt;}
.y3c{bottom:852.769760pt;}
.y2c{bottom:869.339200pt;}
.y3b{bottom:871.649760pt;}
.y3a{bottom:890.209760pt;}
.y4{bottom:893.729760pt;}
.y2a{bottom:903.899200pt;}
.y3{bottom:906.849760pt;}
.y37{bottom:921.889760pt;}
.y2{bottom:928.609760pt;}
.y0{bottom:945.333333pt;}
.y34{bottom:990.619200pt;}
.h1{height:12.666667pt;}
.he{height:16.639973pt;}
.h9{height:19.199947pt;}
.hc{height:19.200027pt;}
.h4{height:29.782500pt;}
.ha{height:33.392500pt;}
.hb{height:34.559973pt;}
.hd{height:34.879960pt;}
.h5{height:37.002500pt;}
.h7{height:38.206875pt;}
.h8{height:38.258125pt;}
.hf{height:38.390625pt;}
.h6{height:42.656250pt;}
.h10{height:46.656250pt;}
.h3{height:77.449375pt;}
.h2{height:990.689733pt;}
.h0{height:1056.000000pt;}
.w6{width:51.840000pt;}
.w5{width:168.320000pt;}
.w1{width:192.000000pt;}
.w3{width:199.040000pt;}
.w4{width:546.240000pt;}
.w2{width:792.037867pt;}
.w0{width:816.000000pt;}
.xa{left:7.040147pt;}
.x1{left:11.981067pt;}
.x4{left:37.440107pt;}
.x5{left:47.040040pt;}
.x9{left:49.421067pt;}
.xc{left:51.981067pt;}
.x6{left:66.239907pt;}
.x8{left:83.040040pt;}
.x7{left:85.440093pt;}
.xd{left:220.301067pt;}
.xb{left:248.461067pt;}
.x2{left:298.221333pt;}
.x3{left:304.622400pt;}
.x0{left:316.666667pt;}
}
